{% extends "base_main.html" %}

{% load static %}

{% block extra-style %}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    width: 100%;
}

{% endblock %}

{% block content %}
<div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 text-center">
  <img class="img-responsive" src="{% static 'icon.png' %}" alt="Fifa World Cup logo" style="margin: 15px auto; max-height: 200px;">
  <hr>
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
</div>
{% endblock %}
