{% extends "base_main.html" %}

{# Load the tag library #}
{% load bootstrap3 %}


{% block extra-style %}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    width: 100%;
    min-height: 0;
}

{% endblock %}

{% block content-header %}
    <h3 class="text-center">Change password</h3>
{% endblock content-header %}

{% block content %}
<div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
  {% bootstrap_messages %}
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <hr>
      {% buttons %}
      <button class="btn btn-primary btn-block" type="submit">Change password</button>
      {% endbuttons %}
    </form>
  {% else %}
    <p class="text-center">
      The password reset link was invalid, possibly because it has already been used.
      <a href="{% url 'users:password_reset' %}">Please request a new password reset.</a>
    </p>
  {% endif %}
</div>
{% endblock %}
