body{
	height: 100%;
	height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
	padding: 10px;
    background-color: blue;
    width: 100%;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: blue;
    width: 100%;
    color: white;
}

.code_snippet{
    background: grey;
    color: white;
    font-size: larger;
    padding: 10px;
}

.box h4, .box h5, .box h3{
    padding: 10px;
}

.content-wrapper.full, .main-footer.full{
    margin-left: 0;
}

.navbar-custom-menu.no-user{
    margin-right: 10%;
}

.form-group{
    margin: 0;
}

.form-group input{
    padding: 5px 2px 5px 7px;
}

.no-padding-left{
    padding-left: 0;
}

.no-padding-right{
    padding-right: 0;
}

.alert.alert-danger-special{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert.alert-success-special{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

<<<<<<< HEAD
.nav.navbar-nav{
    display: none;
}

=======
.content-wrapper {
    padding: 0 10%;
}

.oscarcoin-marquee {
	color: white;
}

/* Overrides of Bootstrap styles*/
.container {
	padding-right: 0;
	padding-left: 0;
}

/* Overrides to AdminLTE styles */
.navbar-custom-menu.no-user {
	margin-right: 0;
}


.skin-blue .main-header {
	background-color: #3c8dbc;
}

.content-wrapper, .main-footer {
	margin-left: 0;
}

.main-header {
    max-height: initial;
}

.show-xs{
    display: none;
}

.quiniela .box, .quiniela h5{
    margin-bottom: 0;
}

>>>>>>> just_quiniela
/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
<<<<<<< HEAD
@media (min-width: 576px) {

=======
@media (max-width: 768px) {
	.nav.navbar-nav > li {
		text-align: center;
	}

	.main-header .navbar-custom-menu {
		text-align: center;
		margin-right: 0;
	}

	.navbar-custom-menu > .navbar-nav {
		display: inline-block;
	}

	.main-header .navbar-custom-menu,
	.navbar-custom-menu > .navbar-nav {
		float: initial;
	}

	.navbar-custom-menu > .navbar-nav > li {
		display: inline-block;
	}

    .content-wrapper {
        padding: 0 2%;
    }

    .nav.navbar-nav{
        display: none;
    }

    .navbar-custom-menu .nav.navbar-nav{
        display: initial;
        float: right;
    }

    .hide-xs{
        display: none;
    }

    .show-xs{
        display: flex;
    }
>>>>>>> just_quiniela
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
<<<<<<< HEAD
    .nav.navbar-nav{
        display: initial;
=======
    .content-wrapper {
        padding: 0 6%;
>>>>>>> just_quiniela
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
<<<<<<< HEAD
    
=======

>>>>>>> just_quiniela
}
