{% extends "base_main.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content-header %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li><a href="{% url 'main:home' %}">Home</a></li>
        <li class="active">Quinielas</li>
    </ol>
    <h1> {{ user.username }} </h1>
{% endblock %}

{% block content %}
    {% if quiniela %}
        {% for tournament in quiniela.tournaments.all %}
        <h3> {{ quiniela.name }} - {{ tournament.name }}</h3>
        <h5> {{ quiniela.description }}</h5>
        <hr>
        <h3>Day 1</h3>
            {% for game in tournament.fixture.all %}
                Match Day: {{ game.match_date }}<br>
                Editable Until: {{ game.limit_date }}<br> 
                {{ game.home_team.name }} <img src="{{ game.home_team.image.url }}"> - <img src="{{ game.away_team.image.url }}"> {{ game.away_team.name }}
            {% endfor %}
        {% endfor %}
    {% else %}
    <h3>No existe esa quiniela =(</h3>
    {% endif %}
{% endblock %}

{% block jsblock %}
{% endblock %}