{% extends "base_main.html" %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load tz %}
{% load quiniela_tournamenttags %}
{% load staticfiles %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content-header %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li><a href="{% url 'main:home' %}">Home</a></li>
        <li class="active">Quinielas</li>
    </ol>
    Hi {{ user.username }}
{% endblock %}

{% block content %}
    {% if quiniela %}
        <h3> 
            {% if quiniela.image %}
                <img src="{{quiniela.image.url}}" width="48px" height="auto">
            {% endif %}
            {{ quiniela.name }} - 
            {% if quiniela.tournament.image %}
                <img src="{{quiniela.tournament.image.url}}" width="48px" height="auto">
            {% endif %}
            {{ quiniela.tournament.name }}
        </h3>
        <h5>{{ quiniela.description }}<br>
            {{ quiniela.tournament.description }}<br>
        </h5>
        {% if user.profile == quiniela.admin %}
        <button type="button" class="btn btn-danger" onclick="quiniela_delete()">Delete {{ quiniela.name }}</button>
        {% endif  %}
        {% if is_member %}
        <button type="button" class="btn btn-success" onclick="show_invite_form()">
          <i class="fa fa-plus"></i> Invite User/s
        </button>
        <button type="button" class="btn btn-success">
          <a id="whatsapp-share-button" href="#" data-action="share/whatsapp/share" style="color: white">
            <i class="fa fa-whatsapp"></i> Share via Whatsapp!
          </a>
        </button><br><br>
        {% else %}
        <button type="button" class="btn btn-success">
          <a href="{% url 'quiniela:quiniela_join' quiniela_id=quiniela.id %}" style="color: white">
            <i class="fa fa-plus"></i> Join Quiniela
          </a>
        </button><br><br>
        {% endif %}
        <form role="form" method="post" id="formsets">
        {% csrf_token %}
          <div class="invite-form-container fade in" style="display: none">
              {{ invite_formset.management_form }}
              <table>
                  {{ invite_formset }}
              </table>
              Introduce one or more users usernames or emails separated by ';' to invite them! (test;test@testmail.com)<br>
              <button type="button" class="btn" onclick="show_invite_form()">
                <i class="fa fa-plus"></i> Invite
              </button><br>
          </div>
          <hr>

          <ul class="nav nav-tabs">
            <li class="{% if active == 0 %}active{% endif %}"><a data-toggle="tab" href="#leaderboard">Leaderboard & Table</a></li>
            <li class="{% if active == 1 %}active{% endif %}"><a data-toggle="tab" href="#group1">Group Matchday 1</a></li>
            <li class="{% if active == 2 %}active{% endif %}"><a data-toggle="tab" href="#group2">Group Matchday 2</a></li>
            <li class="{% if active == 3 %}active{% endif %}"><a data-toggle="tab" href="#group3">Group Matchday 3</a></li>
            <li class="{% if active == 4 %}active{% endif %}"><a data-toggle="tab" href="#group4">Eights</a></li>
            <li class="{% if active == 5 %}active{% endif %}"><a data-toggle="tab" href="#group5">Quarter Finals</a></li>
            <li class="{% if active == 6 %}active{% endif %}"><a data-toggle="tab" href="#group6">Semi Final</a></li>
            <li class="{% if active == 8 %}active{% endif %}"><a data-toggle="tab" href="#group7">Third Place</a></li>
            <li class="{% if active == 8 %}active{% endif %}"><a data-toggle="tab" href="#group8">Final</a></li>
          </ul>
          <div class="tab-content">
              <br>
              <div id="leaderboard" class="row container-fluid tab-pane fade in {% if active == 0 %}active{% endif %}">
                <div class="row">
                  <div class="col-lg-4" align="center">
                    <div class="box">
                      <div class="box-header with-border">
                        {% if quiniela.image %}
                            <img src="{{quiniela.image.url}}" width="48px" height="auto">
                        {% endif %}
                        <b>{{ quiniela.name }} - LeaderBoard:</b><br><br>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          {% for leader in leaders %}
                            <h5>
                              <a href="{% url 'quiniela:quiniela_from_user' quiniela_id=quiniela.id username=leader.user.user.username %}">
                                {{ leader }}
                              </a> - {% get_score leader quiniela.score_type %}
                            </h5>
                          {% endfor %}
                          {% for pending in pendings %}
                            {{ pending }} - pending<br>
                          {% endfor %}
                          <br>
                          {% if invite_notifications %}
                            <div class="alert alert-success-special">
                            {% for note in invite_notifications %}
                              <strong>{{ note }}</strong><br>
                            {% endfor %}
                            </div>
                          {% endif %}
                          {% if invite_errors %}
                            <div class="alert alert-danger-special">
                            {% for error in invite_errors %}
                              <strong>{{ error }}</strong><br>
                            {% endfor %}
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="box">
                      <div align="center" class="box-header with-border">
                        {% if quiniela.tournament.image %}
                            <img src="{{quiniela.tournament.image.url}}" width="48px" height="auto">
                        {% endif %}
                        <b>{{ quiniela.tournament.name }} - Groups Table</b>
                      </div>
                      {% for group in groups %}
                      {% if forloop.counter0|divisibleby:2 %}
                      <div class="row">
                      {% endif %}
                        <div class="col-xs-6">
                          <div class="row">
                            <div class="col-xs-12" align="center"> <b>Group {{ group.name }}</b></div>
                          </div>
                          {% for team in group.get_teams %}
                          <div class="row">
                            <div class="col-xs-6 col-xs-offset-2">
                              <img src="{{ team.team.image.url }}" width="50px" height="40px">{{ team.team.name }}
                            </div>
                            <div class="col-xs-4" align="center">
                              {{ team.get_score }}
                            </div>
                          </div>
                          {% endfor %}
                          <br>
                        </div>
                      {% if forloop.counter|divisibleby:2 %}
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              {% for group_matchday_pair in group_predictions %}
              <div id="group{{ forloop.counter }}" class="row container-fluid tab-pane fade in {% if active == forloop.counter %}active{% endif %}">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="box">
                      {% if is_member %}
                      <div align="center" class="box-header with-border"><b>Your Predictions - 
                        {% if forloop.counter <= 3 %}
                          Group Matchday {{ forloop.counter }}
                        {% elif forloop.counter == 4 %}
                          Eigths Finals
                        {% elif forloop.counter == 5 %}
                          Quarter Finals
                        {% elif forloop.counter == 6 %}
                          SemiFinals
                        {% elif forloop.counter == 7 %}
                          Third Place
                        {% elif forloop.counter == 8 %}
                          Final
                        {% endif %}
                      </b></div><br><br>
                      {{ group_matchday_pair.1 }}
                      {% if forloop.counter <= phase %}
                      {% for pair in group_matchday_pair.0 %}
                          {% if forloop.counter0|divisibleby:2 %}
                          <div class="row">
                          {% endif %}
                            <div class="col-lg-6">
                              {% bootstrap_messages %}
                              {{ pair.1.errors }}
                              {% for hidden_field in pair.1.hidden_fields %}
                                  {{ hidden_field }}
                              {% endfor %}
                              <div class="row">
                                  <div class="col-xs-6 no-padding-right">
                                      <div class="col-xs-6 no-padding-right" align="right">
                                        {% if pair.0.home_team.image %}
                                          <img src="{{ pair.0.home_team.image.url }}" width="50px" height="40px">
                                        {% else %}
                                          <img src="{% static 'no_flag.svg' %}" width="50px" height="40px">
                                        {% endif %}
                                      </div>
                                      <div class="col-xs-6">
                                          {% bootstrap_field pair.1.score_home size='sm' label=pair.0.home_team.name layout='inline' %}
                                      </div>
                                  </div>
                                  <div class="col-xs-6 no-padding-left">
                                      <div class="col-xs-6">
                                          {% bootstrap_field pair.1.score_away size='sm' label=pair.0.away_team.name layout='inline' %}
                                      </div>
                                      <div class="col-xs-6 no-padding-left">
                                        {% if pair.0.away_team.image %}
                                          <img src="{{ pair.0.away_team.image.url }}" width="50px" height="40px">
                                        {% else %}
                                          <img src="{% static 'no_flag.svg' %}" width="50px" height="40px">
                                        {% endif %}
                                      </div>
                                  </div>
                                  <div class="col-xs-12" align="center">
                                      {% if not pair.0.score_set %}
                                        <b>?</b>
                                      {% else %}
                                        {% if pair.1.score_home.value == pair.0.score_home and pair.1.score_away.value == pair.0.score_away %}
                                          <i class="fa fa-check" style="color:green"></i>
                                        {% else %}
                                          {% if quiniela.score_type != 'TO'}
                                            {% if pair.1.score_home.value == pair.0.score_home %}
                                            <i class="fa fa-check" style="color:green"></i> <i class="fa fa-close" style="color:red"></i>
                                            {% elif pair.1.score_home.value > pair.1.score_away.value and pair.0.score.home > pair.1.score_away.value %}
                                            <i class="fa fa-check" style="color:green"></i> <i class="fa fa-close" style="color:red"></i>
                                            <i class="fa fa-close" style="color:red"></i>
                                            {% elif pair.1.score_home.value == pair.1.score_away.value and pair.0.score.home == pair.1.score_away.value %}
                                            <i class="fa fa-check" style="color:green"></i> <i class="fa fa-close" style="color:red"></i>
                                            <i class="fa fa-close" style="color:red"></i>
                                            {% endif %}
                                            {% if pair.1.score_away.value == pair.0.score_away %}
                                            <i class="fa fa-close" style="color:red"></i> <i class="fa fa-check" style="color:green"></i>
                                            {% elif pair.1.score_away.value > pair.1.score_home.value and pair.0.score.away > pair.1.score_home.value %}
                                            <i class="fa fa-check" style="color:green"></i> <i class="fa fa-close" style="color:red"></i>
                                            <i class="fa fa-close" style="color:red"></i>
                                            {% elif pair.1.score_home.value == pair.1.score_home.value and pair.0.score.home == pair.1.score_home.value %}
                                            <i class="fa fa-check" style="color:green"></i> <i class="fa fa-close" style="color:red"></i>
                                            <i class="fa fa-close" style="color:red"></i>
                                            {% else %}
                                              <i class="fa fa-close" style="color:red"></i>
                                            {% endif %}
                                          {% else %}
                                            <i class="fa fa-close" style="color:red"></i>
                                          {% endif %}
                                        {% endif %}
                                      {% endif %}
                                  </div>
                              </div>
                            </div>
                        {% if not forloop.counter0|divisibleby:2 %}
                          </div>
                          <br>
                        {% endif %}
                      {% endfor %}
                      {% if not group_matchday_pair.0|length|divisibleby:2 %}
                          <br>
                          </div>
                      {% endif %}
                        {% if not visiting %}
                          <div class="row">
                                <div class="col-xs-12" align="center">
                                  <button type="button" class="btn" onclick="submit_form('formsets')">
                                    Send
                                  </button>
                              </div>
                          </div><br>
                        {% endif %}
                      {% else %}
                        <div align="center">
                          <img src="https://orig00.deviantart.net/6da4/f/2013/092/f/0/yoda_icon_by_slamiticon-d605vp9.png" width="240px" height="auto"> 
                          <br><br>Predict this phase results, you can Not... Yet! Wait... You must, Young Padawan.<br><br><br><br>
                        </div>
                      {% endif %}
                    {% else %}
                      <br>
                      <div align="center">
                        <b>Join this Quiniela! </b><br><br>
                        <button type="button" class="btn btn-success">
                          <a href="{% url 'quiniela:quiniela_join' quiniela_id=quiniela.id %}" style="color: white">
                            <i class="fa fa-plus"></i> Join Quiniela
                          </a>
                        </button>
                      </div><br><br>
                    {% endif %}
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="box">
                      <div align="center" class="box-header with-border">
                        <b>Official Results - 
                        {% if forloop.counter <= 3 %}
                          Group Matchday {{ forloop.counter }}
                        {% elif forloop.counter == 4 %}
                          Eigths Finals
                        {% elif forloop.counter == 5 %}
                          Quarter Finals
                        {% elif forloop.counter == 6 %}
                          SemiFinals
                        {% elif forloop.counter == 7 %}
                          Third Place
                        {% elif forloop.counter == 8 %}
                          Final
                        {% endif %}
                        </b>
                      </div><br><br>
                      {% for pair in group_matchday_pair.0 %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                        {% endif %}
                          <div class="col-lg-6" align="center">                        
                            {{ pair.0.home_team.name }} 
                            {% if pair.0.home_team.image %}
                              <img src="{{ pair.0.home_team.image.url }}" width="50px" height="40px">
                            {% else %}
                              <img src="{% static 'no_flag.svg' %}" width="50px" height="40px">
                            {% endif %}
                            {% if pair.0.score_set %} {{ pair.0.score_home }} {% endif %} -  
                            {% if pair.0.score_set %} {{ pair.0.score_away }} {% endif %}
                            {% if pair.0.away_team.image %}
                              <img src="{{ pair.0.away_team.image.url }}" width="50px" height="40px">
                            {% else %}
                              <img src="{% static 'no_flag.svg' %}" width="50px" height="40px">
                            {% endif %}
                            {{ pair.0.away_team.name }}<br>
                            {{ pair.0.match_datetime|date:"D d M" }} {{ pair.0.match_datetime|time:"H:i" }}
                            {% get_current_timezone as TIME_ZONE %} ({{ TIME_ZONE }})
                          </div>

                        {% if not forloop.counter0|divisibleby:2 %}
                        </div>
                        <br>
                        {% endif %}
                    {% endfor %}
                    {% if not group_matchday_pair.0|length|divisibleby:2 %}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </form>
      {% else %}
      <h3>No existe esa quiniela =(</h3>
    {% endif %}
{% endblock %}

{% block jsblock %}
<script type="text/javascript">
  var inv = false;
  function quiniela_delete() {
    r = confirm("Are you sure?");
    if(r){
      window.location.href = "{% url 'quiniela:quiniela_delete' quiniela_id=quiniela.id %}"
    }
  }

  function show_invite_form(){
    if(!inv){
      $(".invite-form-container").show();
      inv = true;
    }else{
      submit_form('formsets')
    }
  }

  function submit_form(frmId){
    my_form = document.getElementById(frmId);
    my_form.submit();
  }

  $(document).ready(function(){
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $('#whatsapp-share-button').attr('href', 'whatsapp://send?text={{request.build_absolute_uri}} Unete a mi quiniela del Mundial !! {{ quiniela.name }} =)!')
    }else{
      $('#whatsapp-share-button').attr('href', 'https://web.whatsapp.com/send?text={{request.build_absolute_uri}} Unete a mi quiniela del Mundial !! {{ quiniela.name }} =)!')
    }
  })

  {% if not invite_notifications and not invite_errors and not inviting %}
  if(window.location.href.split("&").length > 1){
    // Clear URL vars
    window.location.href = window.location.href.split("?")[0];
  }
  {% endif %}
</script>
{% endblock %}
