{% extends "base_main.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content-header %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li><a href="{% url 'main:home' %}">Home</a></li>
        <li class="active">Quinielas</li>
    </ol>
    <h1> {{ user.username }} </h1>
{% endblock %}

{% block content %}
    {% if quinielas %}
    <h3> Quinielas en las que estas participando</h3>
        {% for quiniela in quinielas %}
            <h4><a href="{% url 'quiniela:quiniela_details' quiniela.id %}">
                {% if quiniela.image %}
                    <img src="{{quiniela.image.url}}" width="50px" height="auto">
                {% endif %}
                {{ quiniela.name }} - 
                {% if quiniela.tournament.image %}
                    <img src="{{quiniela.tournament.image.url}}" width="50px" height="auto">
                {% endif %}
                {{ quiniela.tournament.name }}
            </a></h4>
        {% endfor %}
    <hr>
    {% else %}
    <h3>No estas participando en ninguna quiniela =(</h3>
    <hr>
    {% endif %}

    {% bootstrap_messages %}
    <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit">Crear Nueva Quiniela</button>
    {% endbuttons %}
    </form>
{% endblock %}

{% block jsblock %}
{% endblock %}