{% extends "base_main.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content-header %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li><a href="{% url 'main:home' %}">Home</a></li>
        <li class="active">Quinielas</li>
    </ol>
    Hi {{ user.username }}!
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
        {% if quinielas %}
            <h3> Quinielas en las que estas participando</h3>
            {% for quiniela in quinielas %}
            <div class="row">
                <div class="col-xs-12 quiniela">
                    <div class="box">
                        <h5><a href="{% url 'quiniela:quiniela_details' quiniela.id %}">
                            {% if quiniela.image %}
                                <img src="{{quiniela.image.url}}" width="55px" height="55px">
                            {% endif %}
                            {{ quiniela.name }} -
                            {% if quiniela.tournament.image %}
                                <img src="{{quiniela.tournament.image.url}}" width="55px" height="55px">
                            {% endif %}
                            {{ quiniela.tournament.name }}
                        </a></h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <h3>No estas participando en ninguna quiniela =(</h3>
        <hr>
        {% endif %}
        </div>
        <div class="col-lg-6">
        {% if public_quinielas %}
            <div class="col-lg-6">
                <h3> Quinielas Publicas</h3>
                {% for quiniela in public_quinielas %}
                <div class="row">
                    <div class="col-xs-12 quiniela">
                        <div class="box">
                            <h5><a href="{% url 'quiniela:quiniela_details' quiniela.id %}">
                                {% if quiniela.image %}
                                    <img src="{{quiniela.image.url}}" width="55px" height="55px">
                                {% endif %}
                                {{ quiniela.name }} -
                                {% if quiniela.tournament.image %}
                                    <img src="{{quiniela.tournament.image.url}}" width="55px" height="55px">
                                {% endif %}
                                {{ quiniela.tournament.name }}
                            </a></h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <hr>
    
    <h4>Crear Quiniela:</h4>
    {% bootstrap_messages %}
    <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit">Crear Nueva Quiniela</button>
    {% endbuttons %}
    </form>
{% endblock %}

{% block jsblock %}
{% endblock %}
